.projects{
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects__tittle{
    text-align: center;
    font-size: 22px;
}

.projects__block{
    display: flex;
    column-gap: 12em;
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 1em 0em 1em 2em;
    margin: 3em 18em; 
}
.projects-block__info{
    background-color: white;
}
.projects-info__name {
    font-size: 22px;
    background-color: white;
}

.projects-info__description{
    background-color: white;
    font-size: 20px;
    margin: 1em 0em 2em 0;
    
}

.project-info__btns{
    background-color: white;
}

.project-info__btn{
    margin-right: 1em;
    padding: 1em;
    background-color: white;
    border-style: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-info__btn:hover{
    background-color: #f1f2f5;
}


.project-info__img{
    background-color: white;
}

.gif{
    margin-right: 1em;
}
