@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

.tools{
    text-align: center;
    margin-top: 8em;
    font-size: 22px;
}

.tools__icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 20em;
    font-size: 12px;
    font-family: 'Saira', sans-serif;
}

.tools-icons__icone{
    padding: 2em;
}


@media only screen and (max-width: 600px) {
    .tools__icons{
        justify-content: center;
        margin: 3em 1em;
        font-size: 18px;
    }

}
