.navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    background-color: white;
}

a:-webkit-any-link:hover {
    color: grey
}


.navbar__title{
 background-color: white;
}

.navbar__icones{
    display: flex;
    font-size: 22px;
    background-color: white;
}

.navbar__icone{
    padding-right: 1em;
    background-color: white;
}


@media only screen and (max-width: 600px) {
    .navbar__title{
        font-size: 20px;
       }

       .navbar__icone{
        padding-right: .5em;
    }
}
